*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Top-Navbar */
.top-navbar{
    width: 100%;
    height: 7vh;
    background-color: #a9a9a926;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.top-icons{
    margin-left: 45px;
}
.top-icons i{
    font-size: 20px;
    color: #1c1c50;
    cursor: pointer;
    padding: 0px 2px;
}
.other-link{
    margin-right:45px ;
}
.other-link i{
    font-size: 20px;
    color: #1c1c50;
    cursor: pointer;
    padding: 0px 4px;
}
.btn1{
    width: 95px;
    border: 2px solid #1c1c50;
    border-radius: 5px;
    padding: 2px;
    transition: all 0.5s ease-in-out;
}
.btn2{
    width: 95px;
    border: 2px solid #1c1c50;
    border-radius: 5px;
    padding: 2px;
    transition: all 0.5s ease-in-out;
}
#nav-btn a{
    text-decoration: none;
    color: #1c1c50;
    transition: all 0.5s ease-in-out;
}
#nav-btn a:hover{
    color:white;
}
#nav-btn:hover{
    background-color: #1c1c50;
}
@media screen and (max-width:500px){
    .top-icons{
        margin-left: 30px;
    }
    .top-icons i{
        font-size: 15px;
    }
    .other-link i{
        font-size: 15px;
    }
    .btn1{
        width: 70px;
        height: 5vh;
    }
    .btn2{
        width: 70px;
        height: 5vh;
    }
}

@media screen and (max-width:350px){
    .top-icons{
        margin-left: 10px;
    }
    .top-icons i{
        font-size: 10px;
    }
    .other-link i{
        font-size: 10px;
    }
    .btn1{
        width: 50px;
        height: 5vh;
        font-size: 13px;
    }
    .btn2{
        width: 60px;
        height: 5vh;
        font-size: 13px;
    }
}

@media screen and (max-width:350px){
    .top-icons{
        margin-left: 5px;
    }
    .top-icons i{
        font-size: 12px;
    }
    .other-link i{
        font-size: 10px;
    }
    .btn1{
        width: 50px;
        height: 5vh;
        font-size: 13px;
    }
    .btn2{
        width: 60px;
        height: 5vh;
        font-size: 13px;
    }
}
/* Main Navbar */
#Navbar{
    background-color:#1c1c50;
    font-size: 15px;
    font-family:'Roboto Slab', serif;
}
#Navbar a{
    color: white;
}

#Navbar .nav-link{
    color: white;
    font-weight: bolder;
    margin-left: 5px;
}
#Navbar .nav-link:hover{
    color: white;
    border-radius: 5px;
}
.dropdown-menu li a{
    background-color: #1c1c50;
}
#search-btn{
    color: white;
    border: 1px solid white;
}
.home-section{
    width: 100%;
    height: 100%;
    background-color: #a9a9a926;
    
}
.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    font-family:'Roboto Slab', serif;
}
.home img{
    flex: 1 1 400px;
}
.home .img img {
    width: 100%;
}
.content{
    flex:1 1 400px;
}
.content h3{
    margin-left: 70px;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    color: #1c1c50;
    font-weight: bold;
}
.content h3 span{
    font-size: 40px;
}
.home .content p{
    margin-left: 70px;
    color: #1c1c50;
}
.content .btn3{
    margin-left: 70px;
    width: 200px;
    padding: 5px 0px;
    border: 2px solid #1c1c50;
    font-weight: bold;
    transition: all 0.7s ease-in-out;
}
.content .btn3:hover{
    color: white;
    background-color: #1c1c50;
}
@media screen and (max-width:800px) {
    .content h3{
        margin-left: 50px;
        font-size: 40px;
    }
    .content p{
        margin-left: 50px;
    }
    .content .btn3{
        margin-left: 50px;
    }
}
@media screen and (max-width:570px) {
    .content h3{
        margin-left: 20px;
    }
    .content p{
        margin-left: 20px;
    }
    .content .btn3{
        margin-left: 20px;
    }
}

@media screen and (max-width:799px) {
    .home-section{
        height: 150vh;
    }
}

@media screen and (max-width:570px) {
    .home-section{
        height: 100vh;
    }
}

/* Top Products */

#top-cards h5{
    font-family:'Roboto Slab', serif;
    color: #1c1c50;
}
#top-cards p{
    font-family:'Roboto Slab', serif;
    color: #1c1c50;
}
#top-cards .content1 h2{
    font-family:'Roboto Slab', serif;
    color: #1c1c50;
    font-weight: bold;
}
#top-cards .card{
    text-align: center;
}

.card .btn{
    background-color: #1c1c50;
    font-family:'Roboto Slab', serif;
}

/* Banner */

.banner{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./image/banner.jpg);
}
.banner .content2{
    text-align: center;
    padding-top: 100px;
    
}

.banner .content2 h2{
    color: white;
}
.banner .content2 p{
    color: white;
}
.banner .content2 .btn3{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.banner .content2 .btn3:hover{
    background-color: #1c1c50;
    color: white;
}

/* Product Cards */

#product-cards{
    width: 100%;
    height: auto;
}
#product-cards .content2 h2{
    color: #1c1c50;
    font-family:'Roboto Slab', serif;
    font-weight: bold;
}
#product-cards .card-body h3{
    font-weight: 900;
}
#product-cards .row .card-body{
    color: #1c1c50;
    font-family:'Roboto Slab', serif;
}
#product-cards .row .card{
    transition: all 0.2s ease-in-out;
    
}
#product-cards .row .card:hover{
    box-shadow: 0px 0px 10px #1c1c50;
    height: 100%;
    
}
#product-cards .row .card-body span{
    float: right;
    cursor: pointer;
}
.viewmore {
    text-align: center;
    margin-top: 30px;
}
.viewmore #viewmore{
    width: 200px;
    color: #1c1c50;
    font-family:'Roboto Slab', serif;
    font-weight: bold;
    padding: 3px 0px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    transition: all 1s ease-in-out;
}

.viewmore #viewmore:hover{
    background-color: #1c1c50;
    color: white;
    border: 2px solid #1c1c50;
}

/* About Product */
#features .col{
    text-align: center;
    font-family:'Roboto Slab', serif;
}
#features .col i{
    font-size: 50px;
    color: #1c1c50;
}

/* footer */

#footer{
    background: #1c1c50;
    width: 100%;
    color: white;
    font-family:'Roboto Slab', serif;
    font-size: 13px;
    
}
#footer .col ul{
    list-style: none;
}

#footer .col ul a{
    color: white;
}
#footer .footer-icons i{
    padding: 0px 5px;
    font-size: 20px;
    cursor: pointer;
}


/* Login page */


#login #side1{
    background-color: #1c1c50;
    width: auto;
    height: 76vh;
    color: white;
    font-family:'Roboto Slab', serif;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
#login #side1 h3{
    margin-top: 200px;
}

#login #side1 .btn4 a{
    color: white;
    text-decoration: none;
}
#login #side1 .btn4{
    border: 2px solid white;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    align-items: center;
    cursor: pointer;
    
}
#login #side2{
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    font-family:'Roboto Slab', serif;
    padding: 0px 30px;
    box-shadow: 0px 0px 5px #1c1c50;
}
#login #side2 h3{
    color: #1c1c50;
    margin-top: 50px;
    font-weight: bold;
}
#side2 .inp{
    margin-top: 32px;
    text-align: center;
}
#side2 input{
    display: block;
    margin: auto;
    margin-top: 20px;
}
#side2 p{
    margin-top: 20px;
    cursor: pointer;
} 
#side2 .login-icons i{
    margin-left: 10px;
} 
#side2 .btn5{
    width: 100px;
    border: 2px solid #1c1c50;
    background-color: #1c1c50;
    margin: auto;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
#side2 .btn5 a{
    text-decoration: none;
    color: white;

}

@media screen and (max-width:992px) {
    #side2 input{
        width: 300px;
    }
    #side2 .inp{
        width: auto;
    }
}

@media screen and (max-width:330px) {
    #side2 input{
        width: 200px;
    }
}


/* Cloths */

/* Banner 2 */

.banner2{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./image/banner2.jpg);
}
.banner2 .content2{
    text-align: center;
    padding-top: 100px;
    
}

.banner2 .content2 h2{
    color: white;
}
.banner2 .content2 p{
    color: white;
}
.banner2 .content2 .btn3{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.banner2 .content2 .btn3:hover{
    background-color: #1c1c50;
    color: white;
}

#about{
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.about h2{
text-align: center;
font-weight: bold;
font-family:'Roboto Slab', serif;
}
.about img{
    width: 100%;
    height: 100%;
}
.about p{
    font-family:'Roboto Slab', serif;
    color: #1c1c50;
}

.contact .head{
    text-align: center;
    font-family:'Roboto Slab', serif;
    margin: 50px 50px;
}
.contact .card{
    background-color: aliceblue;
    color: #1c1c50;
    box-shadow: 0px 0px 4px #1c1c50;
}
.contact .row{
    margin-bottom: 40px;
}
.contact textarea{
    margin-bottom: 20px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s
}